---
import AboutUs from "../components/AboutUs.astro";
import Proyects from "../components/Proyects.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    class="h-screen w-screen snap-y snap-mandatory overflow-y-auto [&>section]:overflow-hidden"
  >
    <section class="h-screen snap-start">
      <Hero />
    </section>
    <section class="h-screen snap-start">
      <AboutUs />
    </section>
    <section class="h-screen snap-start">
      <Proyects />
    </section>
  </div>
</Layout>
